<p style="color: green"><%= notice %></p>

<%=  @restaurant.name %>
<%=  @restaurant.address %>
<%=  @restaurant.phone_number %>
<%=  @restaurant.category %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Back to restaurants", restaurants_path %> |
</div>
